body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 150px;
}

input {
    padding: 5px;
    font-size: 16px;
    width: 200px;
}

.large-input {
    width: 500px; /* Ajuste este valor conforme necessário */
    height: 300px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #04eb23;
    color: white;
    border: none;
    cursor: pointer;
    align-items: center;
}

button:hover {
    background-color: #05c215;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.container_bar {
    display: flex;
    flex-direction: row;
   
}

#barcode {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    resize: none; /* Impede o redimensionamento do textarea */
    /* Outros estilos conforme necessário */
}

.notification {
    color: red;
    font-size: 14px;
}

.status {
    color: blue;
    font-size: 14px;
}

